.main {

    background: $Verylightgray;

    &_container {
        margin: 5.5rem 1.5rem;
        border-radius: 0.5rem;
        overflow: hidden;
    }

    &_sedan {
        @include card-colors ($Brightorange);
    }

    &_suvs {
        @include card-colors ($Darkcyan);
    }

    &_luxury {
        @include card-colors ($Verydarkcyan);
    }

    h1 {
        font-family: $BigShoulder;
        color: $Verylightgray;
        font-size: 2.3em;
    }

    img {
        width: 4.1875rem;
    }

    p {
        color: $Transparentwhite;
        font-size: 0.8125rem;
        line-height: 2;
    }

    .card {
        height: 27.6875rem;
        min-width: 18.75rem;
        max-width: 900px;
        padding: 3rem 3.0625rem;
        padding-right: 3.4375rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .btn {
        text-decoration: none;
        background: white;
        display: inline-block;
        width: fit-content;
        font-size: 0.867em;
        padding: 1.1rem 2.2rem;
        border: none;
        border-radius: 3rem;
        cursor: pointer;
        letter-spacing: 0.2px;
        color: inherit;
        transition: color 300ms ease-out;

        &:hover {
            border: 1px solid white;
            color: white;
            background: transparent;
            margin: -1px;
        }
    }
}

@media screen and (min-width: 56.25rem) {
    .main {
        height: 100vh;
        display: flex;

        &_container {
            display: flex;
            flex-direction: row;
            margin: auto;

            .card {
                height: 31.25rem;
                max-width: 19.06rem;
            }
        }
    }
}